<ion-view title="Pending Cards" hide-back-button="true" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="pendingCards-list-item-container3">
            <p id="pendingCards-markdown3" style="margin-top:0px;color:#000000;" class=" ">Cards to be evaluated</p>
            <ion-list id="pendingCards-list8" class=" ">
                <ion-item id="pendingCards-list-item15" ui-sref="tabsController.w_Card" class="  ">Pending Cards (swipe to send)</ion-item>
                <ion-list show-delete="shouldShowDelete" can-swipe="true">
                    <ion-item ng-repeat="thing in things track by $index" ui-sref="tabsController.w_Card">
                        <ion-delete-button class="button-assertive ion-trash-b" ng-click="remove(thing)"></ion-delete-button>
                        Angler: {{thing[0].profileName}}<br>
                        Code: {{thing[0].profileCode}}<br>
                        Date : {{thing[1].currentDate}}<br>
                        Species : {{thing[1].newSpecies}}<br>
                        Time Hooked : {{thing[1].newHooked}}<br>
                        Time Landed : {{thing[1].newLanded}}<br>
                        Catch Method: {{thing[1].newMethod}}<br>
                        Tag Number : {{thing[1].newTag}}<br>
                        Location : {{thing[1].newLocation}}<br>
                        Boat Name : {{thing[1].newBoatName}}<br>
                        Skipper Name : {{thing[1].newSkipper}}<br>
                    <ion-option-button class="button-calm ion-android-mail" ng-click="send(thing)"></ion-option-button>
                </ion-item>
            </ion-list>
            <ion-toggle ng-model="shouldShowDelete">
                Show Delete?
            </ion-toggle>
            </ion-list>
        </div>
    </ion-content>
</ion-view>