<ion-view title="Profile" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="profile-list6" class=" ">
            <label class="item item-input " id="profile-input8">
                <span class="input-label">ENTER NEW PROFILE NAME : </span>
                <input type="text" placeholder="" ng-model="userData.profileName">
            </label>
            <label class="item item-input " id="profile-input9">
                <span class="input-label">ENTER NEW ACCESS NUMBER : </span>
                <input type="text" placeholder="" ng-model="userData.profileCode">
            </label>
        </ion-list>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="name in names track by $index">
                NAME : [{{$index +1}}] {{name.profileName}}
                <ion-option-button class="button-assertive ion-trash-b" ng-click="removeName(name)"></ion-option-button>
            </ion-item>
        </ion-list>
        <a ui-sref="profile" id="user-save" class=" button button-balanced col-offset-80" ng-click="addName(userData)">SAVE</a>
        <a ui-sref="tabsController.card" id="profile-button2" class=" button button-positive  icon-right ion-alert-circled ">CONTINUE</a>
        <label class="item item-select " id="selectedName" name="selectedName" >
          <span class="input-label">SELECT CURRENT PROFILE</span>
          <select ng-model="cardData.userName">
            <option ng-repeat="name in names track by $index">{{name.profileName}}</option>
          </select>
        </label>
    </ion-content>
</ion-view>