<ion-view title="W_Card" id="page7" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <form id="w_Card-form9" class="list ">
            <div class="item item-body " id="w_Card-list-item-container5">
                <form id="w_Card-form7" class="list ">
                    <label class="item item-input " id="w_Card-textarea2" name="user_name">
                        <span class="input-label">Name:</span><textarea placeholder="{{thing}}">{{thing.userName}}</textarea>
                    </label>
                </form>
                <p id="w_Card-markdown4" style="margin-top:0px;color:#0C0B0B;" class=" ">CATCH DETAILS</p>
                <form id="w_Card-form8" class="list ">
                    <label class="item item-input " id="w_Card-textarea3" name="species">
                        <span class="input-label">Species</span>{{thing}}<textarea placeholder="name here">{{thing.species}}</textarea>
                    </label>
                    <label class="item item-input " id="w_Card-textarea4" name="hooked">
                        <span class="input-label">Hooked</span><textarea placeholder="">date_H</textarea>
                    </label>
                    <label class="item item-input " id="w_Card-textarea5" name="landed">
                        <span class="input-label">Landed</span><textarea placeholder="">date_L</textarea>
                    </label>
                    <label class="item item-input " id="w_Card-input16" name="location">
                        <span class="input-label">Location</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input " id="w_Card-input17" name="B_Name">
                        <span class="input-label">B_Name</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input " id="w_Card-input18" name="S_Name">
                        <span class="input-label">S_Name</span>
                        <input type="text" placeholder="Captain">
                    </label>
                    <label class="item item-select " id="w_Card-select3" name="method">
                        <span class="input-label">Method</span>
                        <select>
                            <option>Bait</option>
                            <option>Lure</option>
                            <option>Fly</option>
                        </select>
                    </label>
                    <label class="item item-input " id="w_Card-input19" name="tag">
                        <span class="input-label">Tag</span>
                        <input type="number" placeholder="">
                    </label>
                    <div class="spacer" style="width: 266px; height: 23px;"></div>
                    <div class="item item-body " id="w_Card-list-item-container4">
                        <p id="w_Card-markdown5" style="margin-top:0px;color:#000000;font-size:18px;text-align:center;" class=" ">Weigh Master Only</p>
                        <ion-list id="w_Card-list10" class=" ">
                            <label class="item item-input " id="w_Card-input21">
                                <span class="input-label">Weight kg</span>
                                <input type="number" placeholder="">
                            </label>
                            <label class="item item-input " id="w_Card-input20">
                                <span class="input-label">Length cm</span>
                                <input type="number" placeholder="">
                            </label>
                            <label class="item item-input " id="w_Card-input22">
                                <span class="input-label">Girth cm</span>
                                <input type="number" placeholder="">
                            </label>
                            <label class="item item-input " id="w_Card-input23">
                                <span class="input-label">CODE</span>
                                <input type="password" placeholder="PASSWORD">
                            </label>
                        </ion-list>
                        <a ui-sref="tabsController.pendingCards" id="w_Card-button4" class=" button button-positive  button-block ">SAVE</a>
                    </div>
                    <ion-list show-delete="false" can-swipe="true">
                      <ion-item ng-repeat="thing in things track by $index">
                        {{thing}}
                        <ion-option-button class="button-assertive ion-trash-b" ng-click="remove(thing)"></ion-option-button>
                      </ion-item>
                    </ion-list>
                </form>
            </div>
        </form>
    </ion-content>
</ion-view>